[package]
name = "pumpkin-plugin-{{MOD_ID}}"
version = "0.1.0"
edition = "2024"
publish = false
description = "{{MOD_NAME}} plugin for Pumpkin"

[lib]
crate-type = ["cdylib"]

[dependencies]
pumpkin = { path = "{{PUMPKIN_PATH}}", package = "pumpkin" }
pumpkin-data = { path = "{{PUMPKIN_DATA_PATH}}", package = "pumpkin-data" }
pumpkin-protocol = { path = "{{PUMPKIN_PROTOCOL_PATH}}", package = "pumpkin-protocol" }
pumpkin-util = { path = "{{PUMPKIN_UTIL_PATH}}", package = "pumpkin-util" }
pumpkin-api-macros = { path = "{{PUMPKIN_API_MACROS_PATH}}", package = "pumpkin-api-macros" }

tokio = "1"
tracing = "0.1"

[lints.clippy]
all = { level = "deny", priority = -1 }
