//! {{MOD_NAME}} Pumpkin plugin.

use std::sync::Arc;

use pumpkin::plugin::Context;
use pumpkin_api_macros::{plugin_impl, plugin_method};

#[plugin_method]
async fn on_load(&self, server: Arc<Context>) -> Result<(), String> {
    server.init_log();
    tracing::info!("Loading {{MOD_NAME}}");

    // Register events, commands, and other Pumpkin plugin functionality here.

    Ok(())
}

#[plugin_method]
async fn on_unload(&self, _server: Arc<Context>) -> Result<(), String> {
    tracing::info!("Unloading {{MOD_NAME}}");
    Ok(())
}

#[plugin_impl]
pub struct Plugin;

impl Plugin {
    #[must_use]
    pub const fn new() -> Self {
        Self
    }
}

impl Default for Plugin {
    fn default() -> Self {
        Self::new()
    }
}
